In [9]:
# Data Loading This notebook loads the raw Formula 1 datasets (1950â€“2025) that will be used for performance, consistency, and constructor dominance analysis. No data cleaning is performed at this stage.

In [10]:
import pandas as pd

DATA_PATH = "../data/raw/"

drivers = pd.read_csv(DATA_PATH + "drivers.csv")
races = pd.read_csv(DATA_PATH + "races.csv")
results = pd.read_csv(DATA_PATH + "results.csv")
qualifying = pd.read_csv(DATA_PATH + "qualifying.csv")
constructors = pd.read_csv(DATA_PATH + "constructors.csv")

print("Data loaded successfully")

Data loaded successfully

In [11]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [12]:
races[['raceId','year','name']].head()

   raceId  year                   name
0       1  2009  Australian Grand Prix
1       2  2009   Malaysian Grand Prix
2       3  2009     Chinese Grand Prix
3       4  2009     Bahrain Grand Prix
4       5  2009     Spanish Grand Prix

In [13]:
results[['raceId','driverId','grid','position','points']].head()

   raceId  driverId grid position  points
0      18         1    1        1    10.0
1      18         2    5        2     8.0
2      18         3    7        3     6.0
3      18         4   11        4     5.0
4      18         5    3        5     4.0

In [14]:
qualifying[['raceId','driverId','position']].head()

   raceId  driverId  position
0      18         1         1
1      18         9         2
2      18         5         3
3      18        13         4
4      18         2         5

In [15]:
constructors[['constructorId','name']].head()

   constructorId        name
0              1     McLaren
1              2  BMW Sauber
2              3    Williams
3              4     Renault
4              5  Toro Rosso